.calc{
  background-image: linear-gradient(180deg, #4b4f50, #1c2124);/* #2d3235 #1e2225*/
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50cqmin;
  height: 60cqmin;
  transform: translate(-50%, -50%);
  border-radius: 4vh;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
}

.calc_body{
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 15px;
}

.number_bottom{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.operator_bottom{
  display: grid;
  grid-template-columns: 1fr;
}

.clear{ 
  background-color: antiquewhite;
}
