.div{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.bot{
    /* background-color: #363a3d; */
    color: white;
    font-weight: 500;
    width: 6.5cqmin;
    height: 6.5cqmin;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 6.5cqmin;
    transition: .2s ease;
}

.bot:hover{
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
}

@media only screen and (min-width: 959px) {
    .bot{
        font-size: 40px;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .bot{
        font-size: 35px;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .bot{
        font-size: 10px;
    }
    p{
        font-size: 10px;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .bot{
        font-size: 20px;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .bot{
        font-size: 10px;
    }

    .div{
        margin-bottom: 2px;
    }
}